.node { visibility:hidden; height: 0px; }
.menu { visibility:hidden; height: 0px; }
.chapter { background-color:#ffe4fe; }
.section { background-color:#ffe4fe; }
.subsection { background-color:#ffe4fe; }
.settitle { background-color:#ffe4fe; }
.contents { border: 2px solid black;
            margin: 1cm 1cm 1cm 1cm; 
            padding-left: 3mm; }

body { padding: 2em 8em; font-family: sans-serif; }

h1 { padding: 1em; text-align: center; }


